* {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
    color: white;
}

.heading {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: crimson;
}

#main-page-header {
    height: auto;
    width: 1000px;
    display: block;
    margin: 0 auto;
}

.about {
    padding: 10px 40px;
    font-size: 20px;
}

.recipe-link {
    display: inline;
    font-size: 20px;
    margin-right: 30px;
    list-style: none;
}

.recipe-link a {
    color: crimson;
}

.pizza {
    color: chocolate;
}

.sushi {
    color:lawngreen;
}

.taco {
    color:deepskyblue;
}